header {
  text-align: center;
  margin-bottom: 2em;
  margin: 3em auto;
}

header div {
  color: #ff4081;
  font-style: italic;
  font-size: 1.5em;
}

header h1 {
  font-size: 3em;
  font-family: 'Libre Baskerville', serif;
}

footer {
  margin: 3em auto;
}

footer #github-link {
  display: block;
  margin-top: 2em;
}

footer #github-link img {
  height: 20px;
  width: 20px;
}

footer a {
  color: #ff4081;
  text-decoration: none;
}
